.home-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 900px;
  height: 100%;
  margin: 0 auto;
  color: white;
}

.home-main h1 {
  font-size: 68px;
  font-weight: 900;
  line-height: 1;
}
